
<!-- CUSTOM LANGUAGE SELECTOR DESKTOP Start -->
<div class="toolbar__item small--hide">
  <div class="language-selector-desktop">
    <a href="https://ajinomotosales-th.myshopify.com/en">English</a>
    |&nbsp&nbsp
    <a href="https://ajinomotosales-th.myshopify.com/">ภาษาไทย</a>
  </div>
</div>
<!-- CUSTOM LANGUAGE SELECTOR DESKTOP End -->

<style>
  .language-selector-desktop {
    display: flex;
    align-items: center;
  }
  .language-selector-desktop a {
    margin-right: 10px;
  }
</style>
