{% if customer.metafields.custom.customer_type == "food_vendor" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747" id="yotpo-widget-1"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="626951" id="yotpo-widget-2"></div>
  
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527521"></div>
{% elsif customer.metafields.custom.customer_type == "retailer" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747" id="yotpo-widget-1"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="626951" id="yotpo-widget-2"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537723"></div>
{% endif %}|


<script>
function reloadPageOnMutation() {
  const observer = new MutationObserver(() => {
    // Delay of 3.5 seconds before reloading
    setTimeout(() => {
      window.location.reload(); // Reload the entire page
      console.log(`Page reloaded successfully at ${new Date().toLocaleString()}`);
    }, 3500);
  });

  // Start observing for any DOM changes
  observer.observe(document.body, { childList: true });
}

// Call the function to start monitoring and reloading
reloadPageOnMutation();

// Call the function to start monitoring and reloading
reloadYotpoWidget();

  const observer = new MutationObserver(() => {
  console.log("DOM change detected");
});

observer.observe(document, { childList: true, subtree: true });


</script>

