{% if customer.metafields.custom.customer_type == "food_vendor" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527521"></div>
{% elsif customer.metafields.custom.customer_type == "retailer" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537723"></div>
{% endif %}|
<script>
// Select the buttons to observe
var buttons = document.getElementsByClassName('yotpo-action-button-text');
buttons = Array.from(buttons); // Convert HTMLCollection to array

// Add click event listener to each button
buttons.forEach(function(button) {
  button.addEventListener('click', function() {
    console.log('Button with class yotpo-action-button-text clicked');

    // Reload elements with the class 'yotpo-inner-text'
    var elements = document.getElementsByClassName('yotpo-inner-text');
    elements = Array.from(elements); // Convert HTMLCollection to array

    elements.forEach(function(element) {
      console.log('Reloading element with class yotpo-inner-text');
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'https://ajinomotosalesth.com/pages/loyalty', true);
      xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
          // Success!
          var resp = xhr.responseText;
          element.innerHTML = resp;
          console.log('Reloaded element with class yotpo-inner-text');
        }
      };
      xhr.send();
    });
  });
});

</script>